<div class = "container-fluid">
<h1> Quiz-Taker</h1>
<h3> {{quiz.title}}</h3>
    <br/>
    <ul class = "list-group">
        <li class = "list-group-item active">
            Questions
        </li>
        <br/>
        <li  class = "list-group-item"
                *ngFor = "let question of quiz.questions">
            <a class="float-right">{{question.points}} </a>
            <h5> {{question.title}}</h5>
            <br/>
            <p>{{question.description}}</p>

            <div [ngSwitch] = "question.questionType">
                <div *ngSwitchCase="'MULTIPLE_CHOICE'"> <h6>Multiple-Choice</h6></div>
                <div *ngSwitchCase="'TRUE_FALSE'"> <h6>True Or False</h6></div>
                <div *ngSwitchCase="'FILL_BLANKS'"> <h6>Fill In The Blanks</h6></div>
                <div *ngSwitchCase="'ESSAY'"> <h6>Essay Type</h6></div>
            </div>
        </li>

    </ul>


</div>

