<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


<div class="container-fluid">


<span class = "float-right">
  <div class="btn-group">
  <button class="btn btn-block"> <a routerLink = "/">Home</a> </button>
    <button class="btn btn-block"> <a routerLink = "/register">Register</a> </button>
  </div>
</span>
<h2> Log-In </h2>


  <div class="form-group">
    <label for="usernameFld">Email address</label>
    <input [(ngModel)] = "username"
           type="text" class="form-control" id="usernameFld"  placeholder="Enter username">

  </div>
  <div class="form-group">
    <label for="passwordFld">Password</label>
    <input  [(ngModel)] = "password"
            type="password" class="form-control" id="passwordFld" placeholder="Password">
  </div>

  <button  (click)= "logIn(username,password)"
    type="submit" class="btn btn-primary" id = "submitBtn">Submit</button>

</div>

