<div class ="container-fluid">
  <h5> Quiz: {{submission.quiz.title}} ||  Taken By:  {{submission.student.username}} ||
    Total Score: {{submission.score}} / {{submission.total}}</h5>


  <ul class ="list-group-item">
    <li class = "row list-group-item active">
      <div class ="row">
    <div class ="col-5"> Question</div>
    <div class ="col-5">Answer</div>
    <div class = "col-1"> Scored</div>
    <div class = "col-1"> Points</div>
      </div>
    </li>

    <li *ngFor ="let answer of submission.answers">
      <div  class = "row">
        <div class = "col-5">
          {{answer.question.questionText}}
        </div>
          <div [ngSwitch]="answer.question.questionType">

            <div  class = "col-5"
                    *ngSwitchCase="'MULTIPLE_CHOICE'">
              {{answer.multipleChoiceAnswer}}
            </div>

            <div  class = "col-5"
                    *ngSwitchCase="'FILL_BLANKS'">
              {{answer.fillBlankAnswers.var1}} &nbsp; &nbsp; {{answer.fillBlankAnswers.var2}}
            </div>
            <div  class = "col-5"
                    *ngSwitchCase="'ESSAY'">
              {{answer.essayAnswer}}
            </div>
            <div  class = "col-5"
                    *ngSwitchCase="'TRUE_FALSE'">
              {{answer.trueFalseAnswer}}
            </div>
          </div>

        <div class = "col-1">
          {{answer.scored}}
        </div>
        <div class = "col-1">
          {{answer.question.points}}
        </div>
        </div>
      <br/>
      <br/>
    </li>

  </ul>
</div>