<div class ="container-fluid">
  <ul class = "list-group">

    <li class="list-group-item">

      <label for = "{{question._id}}" ><input id ="{{question._id}}" name = "{{question._id}}" (click)="selectedAnswer(true)"
              type = "radio"> True </label>
      &nbsp;  &nbsp;  &nbsp;

      <label for = "{{question.questionText}}"><input (click)="selectedAnswer(false)" id = "{{question.questionText}}"
              type ="radio" name = "{{question._id}}">  False </label>

    </li>

  </ul>


  </div>